{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>

    <form action="/register" method="post">

        <!-- Name input -->
        <input type="text" name="name" placeholder="Name">

        <!-- Sport select -->
        <select name="sport">
            <option value="">Sport</option>
            <option value="Football">Football</option>
            <option value="Basketball">Basketball</option>
            <option value="Tennis">Tennis</option>
        </select>

        <!-- Submit button -->
        <button type="submit">Register</button>

    </form>

{% endblock %}
