{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>

    <form action="/register" method="post">

        <!-- Name input -->
        <input type="text" name="name" placeholder="Name">

        <br><br>

        <!-- Radio buttons -->
        {% for sport in sports %}
            <input name="sport" type="radio" value="{{ sport }}">
            {{ sport }}
            <br>
        {% endfor %}

        <br>

        <!-- Submit button -->
        <button type="submit">Register</button>

    </form>

{% endblock %}
